.Contact {
  margin: 30px;
  padding: 20px;

  box-shadow: 0 0 10px white;
}

.Email h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.Phone p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
